<!--
     <a href="/">home</a>|
<a href="/contact">contact</a>|
<a href="/about">about</a>|
<a href="/login">login</a>|
<a href="/form">form</a>|
<a href="/form2">form2</a>|
<img src="./images/abcp.jpg" height="200"width="200"><br>
<video src="./video/movie.mp4" controls height="200"width="150" autoplay>

    <h1>This is an Home Page</h1>
Enroll <%=my.enroll%>
Name <%=my.name%>
Dept <%=my.dept%>
<table border="1">
    <tr>
        <th> Enrollment</th>
        <th>Name</th>
        <th>Dept</th>
    </tr>
    
        <% for(i in student) { %>
        <tr>
            <td> <%=student[i].enroll %> </td>
            <td> <%=student[i].name %> </td>
            <td> <%=student[i].Dept %> </td>
        </tr>
        <% } %>
</table>
-->
<!--upr ka delete kr k fir niche ka chalana hai-->