<form method="post" action="/users">
    User Id <input name="_id"><br>
    Password <input name="pssword" type="pasword"><br>
    Name <input name="name"><br>
    subject <select name="subject">
        <option value="computer networks">CN</option>
        <option value="operating system">OS</option>
        <option value="OOPs">OOPS</option>
        <option value="data structure">DS</option>
    </select><br> 
    Role<select name="role">
        <option value="admin">Admin</option>
        <option value="register">Register user</option>
        <option value="guest">Guest</option>
    </select><br> <br>
     <input type="submit"><br>
     
</form>